
// Colors
$accent-color: #F07E26;
$hover-accent-color: #d66c1b;
$second-accent-color: #7CF774;
$main-color: #333333;
$second-main-color: #474747;
$light-grey-background: #f3f4f0;
$regular-grey-color: #DEE1D7;

// Shadows
$main-block-shadow: 0px 4px 35px 0px rgba(0,0,0,0.15);