@use "./colors.scss" as *;
@use "./breakpoints.scss" as *;

.max-block-width {
	max-width: 1280px;
};

.razion-title {
	font-size: 50px;
	font-family: "ProximaNovaBold", Arial, sans-serif;
	color: $accent-color;
	line-height: 120%;
	@media (max-width: $small-tablet){
		text-align: center;
		font-size: 44px;
	}
	@media (max-width: $mobile){
		font-size: 36px;
		line-height: 110%;
	}
	@media (max-width: $small-mobile){
		font-size: 30px;
		line-height: 110%;
	}
};

.wrapper-paddings {
	padding: 75px 15px 100px 15px;
	@media (max-width: $wrapper){
		padding: 5.86vw 15px 7.81vw 15px;
	}
	@media (max-width: $mobile){
		padding: 50px 15px 40px 15px
	}
}

.regular-button {
	background-color: $accent-color;
	padding: 16px 24px;
	font-family: "ProximaNovaBold", Arial, sans-serif;
	transition: all 0.3s ease 0s;
	font-size: 24px;
	color: #FFFFFF;
	@media (max-width: $mobile){
		width: 100%;
		padding: 14px 14px;
		font-size: 22px;
	}
	@media (min-width: $mobile){
		&:hover {
			background-color: $hover-accent-color;
			transition: all 0.3s ease 0s;
		}
	}
	a {
		color: inherit;          // берёт цвет родителя
		text-decoration: none;   // убираем подчёркивание
	}
}



// Общие стили слайдеров
.swiper-button-prev {
	& img {
		height: 46px;
		width: 54px;
		@media (max-width: $tablet){
			display: none;
		}
	}
	&::after {
		display: none;
	}
}
.swiper-button-next {
	& img {
		height: 46px;
		width: 54px;
		transform: rotate(180deg);
		@media (max-width: $tablet){
			display: none;
		}
	}
	&::after {
		display: none;
	}
}
.swiper-pagination-bullet {
	width: 20px !important;
	height: 20px !important;
	border-radius: 50% !important;
	border: 2px solid $accent-color !important;
	opacity: 1 !important;
	background: transparent !important;
}
.swiper-pagination-bullet-active {
	width: 20px !important;
	height: 20px !important;
	border-radius: 50% !important;
	background: $accent-color !important;
}