@use "./common/colors.scss" as *;
@use "./common/animations.scss" as *;

body {
	color: $main-color;
	//overflow-y: scroll;
}

main {
	&>*:not(:first-child) {
		opacity: 0;
		transform: translateX(-10px);
		&.scrolled {
			animation: showBlockFromTop 0.5s ease 0s forwards;
		}
	}
}

section {
	width: 100%;
	display: flex;
	justify-content: center;
}