@use "../common/colors.scss" as *;
@use "../common/breakpoints.scss" as *;

.razion-cases-slider {
	background-color: $light-grey-background;
	&__wrapper {
		position: relative;
    max-width: 100%; // ширина контента
    margin: 0 auto;
	}
  .swiper {
    overflow: hidden; // прячем «хвосты» слайдов, но НЕ стрелки (они вне .swiper)
  }
}
.swiper {
}
.js-cases-swiper {

	&__slide {
	}
}
.swiper-wrapper {
	padding-bottom: 60px;
	padding-top: 40px;
	display: flex;
	align-items: stretch;
	@media (max-width: $tablet){
		align-items: center;
	}
}
.swiper-slide {
	opacity: 1;
	&.swiper-slide-active {
		opacity: 1;
		padding: 0px 0px 0px 60px;
		@media (max-width: $tablet){
			padding: 0px 15px;
		}
		@media (max-width: $small-tablet){
			padding: 0px 0px;
		}
	}
	&.swiper-slide-next {
		padding: 0px 60px 0px 0px;
	}
}
.case-slide {
	&__content {
		display: block;
		background-color: $regular-grey-color;
		padding: 50px 30px;
		text-align: center;
		font-size: 22px;
		line-height: 120%;
		@media (max-width: $small-tablet){
			font-size: 20px;
			padding: 30px 15px;
		}
		@media (max-width: $mobile){
			font-size: 18px;
			padding: 20px 10px;
			line-height: 110%;
		}
		@media (max-width: $small-mobile){
			font-size: 16px;
			padding: 20px 10px;
			line-height: 110%;
		}
	}
}





.swiper-pagination {
}



@keyframes showSlide {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes hiddenSlide {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
