@use "../common/colors.scss" as *;
@use "../common/breakpoints.scss" as *;

.razion-final-question {
	background-color: $light-grey-background;
		&__wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 70px;
			@media (max-width: $wrapper){
				gap: 20px;
				display: grid;
				grid-template-columns: 0.8fr 1.2fr;
			}
			@media (max-width: $small-tablet){
				display: flex;
				flex-direction: column;
			}
		}
		&__left {
			position: relative;
			&_green-bg {
				position: absolute;
				top: -10px;
				right: -10px;
				width: 100%;
				height: 100%;
				background-color: $second-accent-color;
				@media (max-width: $wrapper){
					display: none;
				}
			}
			&_content {
				height: 490px;
				width: 415px;
				position: relative;
				@media (max-width: $wrapper){
					width: 100%;
					height: auto;
				}
			}
			&_image {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				object-fit: cover;
				@media (max-width: $wrapper){
					position: relative;
				}
			}
			&_info {
				padding: 16px 22px;
				background-color: #FFFFFF;
				@media (max-width: $small-tablet){
					display: flex;
					flex-direction: column;
					align-items: center;
					text-align: center;
					gap: 6px;
					padding: 22px 15px;
				}
			}
			&_info-title {
				color: $accent-color;
				font-family: "ProximaNovaBold", Arial, sans-serif;
				font-size: 24px;
				line-height: 120%;
			}
			&_info-subtitle {
				color: $second-main-color;
				font-size: 18px;
				line-height: 120%;
			}
		}
		&__right {
			position: relative;
			&_green-bg {
				position: absolute;
				top: -10px;
				right: -10px;
				width: 100%;
				height: 100%;
				background-color: $second-accent-color;
				z-index: -2;
				@media (max-width: $wrapper){
					width: 100%;
					height: auto;
					position: relative;
				}
			}
			&_white-bg {
				position: absolute;
				top: 0px;
				right: 0px;
				width: 100%;
				height: 100%;
				background-color: #FFFFFF;
				z-index: -1;
			}
			&_content {
				position: relative;
				padding: 42px 48px;
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 25px;
				max-width: 600px;
				background-color: #FFFFFF;
				z-index: 2;
				@media (max-width: $wrapper){
					max-width: 100%;
					height: auto;
				}
				@media (max-width: $tablet){
					padding: 35px 30px;
				}
				@media (max-width: $mobile){
					padding: 25px 15px;
				}
			}
			&_title {
				font-size: 32px;
				color: $accent-color;
				font-family: "ProximaNovaBold", Arial, sans-serif;
				line-height: 120%;
				text-align: center;
				@media (max-width: $tablet){
					font-size: 30px;
				}
				@media (max-width: $small-tablet){
					margin-top: -15px;
					font-size: 28px;
				}
			}
			&_text {
				font-size: 24px;
				line-height: 120%;
				text-align: center;
				@media (max-width: $tablet){
					font-size: 22px;
				}
				& p {
					margin-top: 10px;
					@media (max-width: $tablet){
						margin-top: 6px;
					}
				}
			}
			&_button {
					background-color: $accent-color;
					padding: 16px 24px;
					font-family: "ProximaNovaBold", Arial, sans-serif;
					transition: all 0.3s ease 0s;
					font-size: 24px;
					color: #FFFFFF;
					display: flex;
					justify-content: center;
					width: auto;
					@media (max-width: $mobile){
						width: 100%;
					}
			}
		}
}

