@use "../common/colors.scss" as *;
@use "../common/breakpoints.scss" as *;

.razion-faq {
	font-family: "ProximaNovaRegular", Arial, sans-serif;
		&__wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 10px;
		}
		&__title {
			text-align: center;
		}
		&__subtitle {
			text-align: center;
			font-size: 24px;
			line-height: 120%;
			@media (max-width: $small-tablet){
				text-align: center;
				font-size: 30px;
			}
			@media (max-width: $mobile){
				font-size: 22px;
			}
		}
		&__info-message {
			padding: 10px;
			background-color: $light-grey-background;
			font-size: 18px;
			line-height: 120%;
			font-weight: 400;
			margin-top: 10px;
			@media (max-width: $mobile){
				padding: 15px 10px;
				text-align: center;
			}
		}
		&__questions-block {
			margin-top: 40px;
			max-width: 520px;
			@media (max-width: $small-tablet){
				margin-top: 20px;
			}
			@media (max-width: $mobile){
				margin-top: 10px;
			}
		}
		&__questions-list {
			display: flex;
			flex-direction: column;
			gap: 32px;
			&>*:not(:last-child) {
				border-bottom: 1px solid #A4A4A4;
			}
			@media (max-width: 768px){
				gap: 10px;
			}
		}
		&__questions-list-item {
			&.faq-item-opened {
				&>*:last-child {
					height: auto;
					transition: all 0.2s ease 0s;
				}
				&>*:first-child {
					& img {
						transform: rotate(180deg);
						transition: all 0.3s ease 0s;
					}
				}
			}
			&.faq-item-closed {
				&>*:last-child {
					height: 0px;
					overflow: hidden;
					padding: 0px 10px 0px 10px;
					transition: all 0.2s ease 0s;
				}
				&>*:first-child {
					& img  {
						transition: all 0.3s ease 0s;
					}
				}
			}
			&_title-block {
				padding: 16px 26px;
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				font-size: 24px;
				line-height: 120%;
				@media (min-width: $mobile){
					&:hover {
						cursor: pointer;
						color: $hover-accent-color;
						transition: all 0.3s ease 0s;
					}
				}
				@media (max-width: $small-tablet){
					padding: 16px 10px;
					font-size: 22px;
				}
				@media (max-width: $mobile){
					padding: 12px 10px;
					font-size: 20px;
				}
			}
			&_title-block-title {
			}
			&_description-block {
				padding: 0px 10px 20px 10px;
				font-size: 22px;
				line-height: 120%;
				@media (max-width: $small-tablet){
					padding: 5px 10px 16px 10px;
					font-size: 20px;
				}
				@media (max-width: $mobile){
					padding: 5px 10px 16px 10px;
					font-size: 18px;
				}
			}
		}
		&__download-button {
			margin-top: 32px;
			@media (max-width: $tablet){
				margin-top: 3.23vw;
				text-align: center;
			}
			@media (max-width: $mobile){
				font-size: 20px;
			}
		}
}

