@use "../common/colors.scss" as *;
@use "../common/breakpoints.scss" as *;

.razion-reviews-slider {
		font-family: "ProximaNovaRegular", Arial, sans-serif;
		&__wrapper {
				max-width: 1280px;
				@media (max-width: 1300px){
					max-width: 100%;
				}
		}
}
.photo-review-slide {
	position: relative;
		&__wrapper {
			display: flex;
			align-items: center;
			@media (max-width: 1300px){
				display: grid;
				grid-template-columns: repeat(2, 1fr);
			}
			@media (max-width: $small-tablet){
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
		&__left {
			max-height: 500px;
			max-width: 500px;
			min-width: 500px;
			min-height: 500px;
			position: relative;
			padding: 10px;
			@media (max-width: $tablet){
				transform: translateX(0px);
				max-height: 50.4vw;
				max-width: 50.4vw;
				min-width: 50.4vw;
				min-height: 50.4vw;
			}
			@media (max-width: $small-tablet){
				max-height: 88vw;
				max-width: 100%;
				min-width: 100%;
				min-height: 88vw;
			}
			&_green-block {
				position: absolute;
				bottom: -10px;
				left: 8px;
				min-height: 500px;
				width: 100%;
				height: 100%;
				background-color: $second-accent-color;
				@media (max-width: 1300px){
					display: none;
				}
			}
			&_image {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				object-fit: cover;
				transform: translateX(20px);
				@media (max-width: $tablet){
					transform: translateX(0px);
					max-height: 50.4vw;
					max-width: 50.4vw;
					min-width: 50.4vw;
					min-height: 50.4vw;
				}
				@media (max-width: $small-tablet){
					position: relative;
					max-height: 88vw;
					max-width: 100%;
					min-width: 100%;
					min-height: 88vw;
				}
			}
		}
		&__right {
		@media (max-width: $tablet){
			position: absolute;
			right: 0px;
		}
		@media (max-width: $small-tablet){
			position: relative;
			width: 100%;
		}
			&_arrow-container {
			}
			&_arrow-elem {
			}
			&_content {
			}
		}
}
.review-content {
	background-color: #fff;
	box-shadow: $main-block-shadow;
	padding: 40px 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	width: 100%;
	margin-left: -10%;
	transform: translateX(-0px);
	@media (max-width: 1300px){
		width: auto;
		padding: 3.08vw 3vw;
		text-align: center;
		transform: translateX(-70px);
	}
	@media (max-width: $tablet){
		transform: translateX(-15px);
		margin-left: 0%;
		width: 45.36vw;
	}
	@media (max-width: $small-tablet){
		position: relative;
		top: 0px;
		left: 0px;
		width: 100%;
		height: auto;
		transform: translateX(0px);
	}
	@media (max-width: $mobile){
		padding: 25px 15px;
	}
	& a {
		background-color: transparent;
	}
		&__name {
			display: flex;
			gap: 10px;
			align-items: center;
			background-color: transparent;
		}
		&__icon {
			max-width: 35px;
			height: auto;
		}
		&__name-label {
			font-size: 24px;
			color: $accent-color;
			font-weight: 500;
		}
		&__review-text {
			font-size: 18px;
			line-height: 110%;
		}
		& a {
			background-color: $accent-color;
			padding: 14px 32px;
			font-family: "ProximaNovaBold", Arial, sans-serif;
			transition: all 0.3s ease 0s;
			font-size: 20px;
			color: #FFFFFF;
			&:hover {
				background-color: $hover-accent-color;
				transition: all 0.3s ease 0s;
			}
		}
		&__prev-button {
			@media (max-width: $tablet){
				display: none !important;
			}
		}
		&__next-button {
			@media (max-width: $tablet){
				display: none !important;
			}
		}
}
.swiper-pagination {
}
.swiper-button-prev {
}
.swiper-button-next {
}
